dist/index.html
<!doctype html><html lang="en"><head><meta charset="utf-8"><title>TechEnjoy</title><meta name="description" content="description Webpack + pug"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="keywords" content=""><link rel="icon" href="assets/favicon.ico" type="image/ico"><link href="main.css" rel="stylesheet"></head><body class="index-page"><div class="wrapper"><header class="header"><a class="header__logo" href="index.html"><img src="./assets/images/icons/main-logo.png"></a></header><div class="content"><section class="main-wrapper"><div class="main-wrapper__content-container"><div class="container"><div class="main-wrapper__description"><div class="main-wrapper__slogan element"><p>Under reconstruction!</p><p>We will be online again from mid-August</p></div><div class="main-wrapper__main-title red-line element"><p>We are your reliable<br/>partner for major brand<br/>consumer electronics!</p></div><div class="main-wrapper__recommend-block"><div class="main-wrapper__recommend-title element"><p>We are verified member of:</p></div><div class="main-wrapper__recommend-logos element"><i class="icon icon__igt"></i><i class="icon icon__gsm"></i><i class="icon icon__handelot"></i></div></div></div></div><div class="main-wrapper__gif-container"><img class="main-wrapper__gif-img" src="./assets/images/gif.png"><img class="main-wrapper__gif" src="./assets/gif/robot.gif"></div></div><div class="main-wrapper__partners-container"><div class="container"><ul class="main-wrapper__partners-list"><li class="main-wrapper__list-item element"><i class="icon icon__canon"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__sony"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__samsung"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__sigma"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__longhi"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__krups"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__garmin"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__jbl"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__pioneer"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__apple"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__wpool"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__philips"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__nikon"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__lg"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__panasonic"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__braun"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__dyson"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__kitchen"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__beats"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__remington"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__sennheiser"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__nintendo"></i></li><li class="main-wrapper__list-item element"><i class="icon icon__moulinex"></i></li></ul></div></div><div class="main-wrapper__events-container"><div class="container"><div class="main-wrapper__events-desc red-line"><div class="main-wrapper__date element">04 - 06 September 2020</div><div class="main-wrapper__title element element">We will attend on the IFA in Berlin!</div><div class="main-wrapper__subtitle element">Our stand: RESELLER PARK - HALL 2.1 - BOOTH NO. 53</div></div><div class="main-wrapper__events-img element"><img src="./assets/images/IFA.png"></div></div></div></section></div><div class="absolute-bg"><img class="absolute-bg__img" src="./assets/images/bg.png"></div><footer class="footer"><div class="container"><div class="footer__left-content"><div class="footer__ft-title element"><p>TECHENJOY + GmbH</p></div><div class="footer__info-container element"><ul class="footer__adress-list margin"><li class="footer__adress-item"><span class="adress-static">Аddress:</span><span class="dress-info">Akademiestr. 24, 76133 Karlsruhe, Germany</span></li><li class="footer__adress-item"><span class="adress-static">Director:</span><span class="dress-info">Lion Lazerson</span></li><li class="footer__adress-item"><span class="adress-static">EU VAT ID:</span><span class="dress-info">DE330118158</span></li><li class="footer__adress-item"><span class="adress-static">Amtsgericht Mannheim:</span><span class="dress-info">HRB 736020</span></li></ul><ul class="footer__adress-list"><li class="footer__adress-item"><a href="mailto:info@techenjoy.eu"><span class="adress-static">E-Mail:</span><span class="dress-info">info@techenjoy.eu</span></a></li><li class="footer__adress-item"><span class="adress-static">WhatsApp:</span><span class="dress-info">+4917655626277</span></li><li class="footer__adress-item"><span class="adress-static">Skype:</span><span class="dress-info">info@techenjoy.de</span></li></ul></div></div><div class="footer__right-content"><div class="footer__ft-title element"><p>Techenjoy UG (haftungsbeschränkt)</p></div><div class="footer__info-container element"><ul class="footer__adress-list margin"><li class="footer__adress-item"><span class="adress-static">Аddress:</span><span class="dress-info">Akademiestr. 24, 76133 Karlsruhe, Germany</span></li><li class="footer__adress-item"><span class="adress-static">Director:</span><span class="dress-info">Lion Lazerson</span></li><li class="footer__adress-item"><span class="adress-static">EU VAT ID:</span><span class="dress-info">DE330118158</span></li><li class="footer__adress-item"><span class="adress-static">Amtsgericht Mannheim:</span><span class="dress-info">HRB 736020</span></li></ul><ul class="footer__adress-list"><li class="footer__adress-item"><a href="mailto:info@techenjoy.eu"><span class="adress-static">E-Mail:</span><span class="dress-info">info@techenjoy.eu</span></a></li><li class="footer__adress-item"><span class="adress-static">WhatsApp:</span><span class="dress-info">+4917655626277</span></li><li class="footer__adress-item"><span class="adress-static">Skype:</span><span class="dress-info">info@techenjoy.de</span></li></ul></div></div></div></footer></div><div class="load"><hr><hr><hr><hr></div><script src="vendors~main.js"></script><script src="main.js"></script></body></html>

src/pug/index.pug
extends template/main

block variables
    - var title = 'TechEnjoy';
    - var description = 'description Webpack + pug';
    - var pageClass = 'index-page';

block content

    section.main-wrapper
        .main-wrapper__content-container
            .container
                .main-wrapper__description
                    .main-wrapper__slogan.element
                        p Under reconstruction!
                        p We will be online again from mid-August
                    .main-wrapper__main-title.red-line.element
                        p We are your reliable <br /> partner for major brand <br /> consumer electronics!
                    .main-wrapper__recommend-block
                        .main-wrapper__recommend-title.element
                            p We are verified member of:
                        .main-wrapper__recommend-logos.element
                            i.icon.icon__igt
                            i.icon.icon__gsm
                            i.icon.icon__handelot
            .main-wrapper__gif-container
                img(src="./assets/images/gif.png").main-wrapper__gif-img
                img(src="./assets/gif/robot.gif").main-wrapper__gif
        .main-wrapper__partners-container
            .container
                ul.main-wrapper__partners-list
                    li.main-wrapper__list-item.element
                        i.icon.icon__canon
                    li.main-wrapper__list-item.element
                        i.icon.icon__sony
                    li.main-wrapper__list-item.element
                        i.icon.icon__samsung
                    li.main-wrapper__list-item.element
                        i.icon.icon__sigma
                    li.main-wrapper__list-item.element
                        i.icon.icon__longhi
                    li.main-wrapper__list-item.element
                        i.icon.icon__krups
                    li.main-wrapper__list-item.element
                        i.icon.icon__garmin
                    li.main-wrapper__list-item.element
                        i.icon.icon__jbl
                    li.main-wrapper__list-item.element
                        i.icon.icon__pioneer
                    li.main-wrapper__list-item.element
                        i.icon.icon__apple
                    li.main-wrapper__list-item.element
                        i.icon.icon__wpool
                    li.main-wrapper__list-item.element
                        i.icon.icon__philips
                    li.main-wrapper__list-item.element
                        i.icon.icon__nikon
                    li.main-wrapper__list-item.element
                        i.icon.icon__lg
                    li.main-wrapper__list-item.element
                        i.icon.icon__panasonic
                    li.main-wrapper__list-item.element
                        i.icon.icon__braun
                    li.main-wrapper__list-item.element
                        i.icon.icon__dyson
                    li.main-wrapper__list-item.element
                        i.icon.icon__kitchen
                    li.main-wrapper__list-item.element
                        i.icon.icon__beats
                    li.main-wrapper__list-item.element
                        i.icon.icon__remington
                    li.main-wrapper__list-item.element
                        i.icon.icon__sennheiser
                    li.main-wrapper__list-item.element
                        i.icon.icon__nintendo
                    li.main-wrapper__list-item.element
                        i.icon.icon__moulinex


        .main-wrapper__events-container
            .container
                .main-wrapper__events-desc.red-line
                    .main-wrapper__date.element
                        | 04 - 06 September 2020
                    .main-wrapper__title.element.element
                        | We will attend on the IFA in Berlin!
                    .main-wrapper__subtitle.element
                        | Our stand: RESELLER PARK - HALL 2.1 - BOOTH NO. 53
                .main-wrapper__events-img.element
                    img(src="./assets/images/IFA.png")
